---
import { Image } from "astro:assets";
import error from "../images/frieren-error.webp";
import Error from "../layouts/error.astro";

const pageTitle = "ryanshz | ERROR";
---

<Error pageTitle={pageTitle}>
    <section class="flex justify-center">
        <div class="flex flex-col items-center mt-8">
            <Image
                width="500"
                src={error}
                alt="error image"
                class="rounded-xl mb-5"
            />
            <h2 class="card-title ">congrats! you broke it!</h2>
            <div class="card-actions mt-5">
                <a href="/" class="btn btn-secondary">back to home</a>
            </div>
        </div>
    </section>
</Error>