---
import Base from "../layouts/base.astro";

const pageTitle = "blog";
---

<Base pageTitle={pageTitle}>
    <section class="drawer-content m-8 space-y-8">
        <article class="card bg-base-100 shadow-xl rounded-none flex-initial">
            <div class="space-y-3 m-5">
                <h2 class="font-bold text-xl">blog</h2>
                <p>updates on my career and personal hobbies</p>
            </div>
        </article>
        <article class="card bg-base-100 shadow-xl rounded-none flex-initial">
            <div class="space-y-3 m-5">
                <h2 class="animate-pulse text-error font-bold text-xl">
                    posts
                </h2>
                <ul>
                    <!-- add posts below this line (for ordering purposes) -->
                    <li><a class="underline" href="/blog/021725">021725</a></li>
                    <li><a class="underline" href="/blog/021625">021625</a></li>
                </ul>
            </div>
        </article>
    </section>
</Base>
