---
import Base from "../layouts/base.astro";

const pageName = "datamining";
---

<Base pageTitle={pageName}>
    <section class="drawer-content m-8 space-y-8">
        <div class="card bg-base-100 shadow-xl rounded-none flex-initial">
            <div class="space-y-3 m-5">
                <h2 class="font-bold text-xl">data mining</h2>
                <p>portfolio page for data mining class blog</p>
            </div>
        </div>
    </section>
    <script is:inline>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides((slideIndex += n));
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides((slideIndex = n));
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slideshowImage");
            let dots = document.getElementsByClassName("slideshowDot");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(
                    " bg-neutral-600",
                    "",
                );
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " bg-neutral-600";
        }
    </script>
</Base>
