---
import Base from "../layouts/base.astro";

const pageName = "projects";
---

<Base pageTitle={pageName}>
    <section class="drawer-content m-8 space-y-8">
        <article class="card bg-base-100 shadow-xl rounded-none flex-initial">
            <div class="space-y-3 m-5">
                <h2 class="font-bold text-xl">projects</h2>
                <p>projects i've worked or am currently working on</p>
            </div>
        </article>
        <article class="card xl:card-side bg-base-100 shadow-xl rounded-none flex-initial">
            <section class="p-7 flex-none">
                <div class="w-fit bg-cover relative opacity-90">
                    <figure class="slideshowImage hidden">
                        <div class="absolute top-0 bottom-2 px-3 py-2 text-white w-fit font-sans">1 / 2</div>
                        <img src="/fedoradesk.webp" class="" />
                    </figure>
                    <figure class="slideshowImage hidden">
                        <div class="absolute top-0 bottom-2 px-3 py-2 text-white w-fit font-sans">2 / 2</div>
                        <img src="/fedoradesk-laptop.webp" class="" />
                    </figure>
                    <button
                        class="absolute top-1/2 w-auto mt-[-22px] mx-4 px-3 py-2 text-white font-bold text-lg rounded-full font-sans hover:bg-neutral-400 hover:opacity-50 transition duration-500 ease-in-out"
                        onclick="plusSlides(-1)">&#10094;</button>
                    <button
                        class="absolute top-1/2 right-0 w-auto mt-[-22px] mx-4 px-3 py-2 text-white font-bold text-lg rounded-full font-sans hover:bg-neutral-400 hover:opacity-50 transition duration-500 ease-in-out"
                        onclick="plusSlides(1)">&#10095;</button>
                </div>
                <div class="text-center pt-2">
                    <button
                        class="h-4 w-4 mx-1 bg-neutral-400 rounded-full inline-block hover:animate-pulse slideshowDot"
                        onclick="currentSlide(1)"></button>
                    <button
                        class="h-4 w-4 mx-1 bg-neutral-400 rounded-full inline-block hover:animate-pulse slideshowDot"
                        onclick="currentSlide(2)"></button>
                </div>
            </section>
            <div class="space-y-3 mx-5 my-10 flex-1">
                <h2 class="font-bold text-xl">linux projects</h2>
                <p>working to learn linux using Fedora, as well as learning more about operating systems in general</p>
                <p><strong class="text-success">tools used:</strong> Shell, Python, CSS, C, Assembly</p>
                <div class="card-actions underline text-primary">
                    <a href="https://github.com/stars/ryanshz/lists/linuxdev" target="_blank" rel="noopener noreferrer">current linux projects</a>
                </div>
            </div>
        </article>
        <article class="card lg:card-side bg-base-100 shadow-xl rounded-none flex-initial">
            <figure class="p-7 flex-none">
                <img
                    class="opacity-90 shadow-xl max-h-96"
                    src="/clustering_graph.webp"
                    alt="heatmap of global terrorism data"
                />
            </figure>
            <div class="space-y-3 mx-5 my-10 flex-1">
                <h2 class="font-bold text-xl">data mining</h2>
                <p>projects meant to develop my data science skillset, involving data gathering, cleaning, and visualization</p>
                <p>includes multiple projects on a variety of datasets, as well as a final group project</p>
                <p><strong class="text-success">tools used:</strong> Jupyter Notebook, Pandas, NumPy, Scikit-Learn, Seaborn, Matplotlib, SciPy</p>
                <div class="card-actions underline text-primary">
                    <a href="https://github.com/stars/ryanshz/lists/datamining" target="_blank" rel="noopener noreferrer">datamining projects</a>
                </div>
            </div>
        </article>
        <article class="card lg:card-side bg-base-100 shadow-xl rounded-none flex-initial">
            <figure class="p-7 flex-none">
                <img
                    class="opacity-90 shadow-xl max-h-96"
                    src="/severusslices.webp"
                    alt="severusslices landing page"
                />
            </figure>
            <div class="space-y-3 mx-5 my-10 flex-1">
                <h2 class="font-bold text-xl">web applications</h2>
                <p>implemented a few web applications, from ecommerce sites to utility tools, helped work on my teambuilding skills</p>
                <p>one site uses EJS to auto-generate product pages, complete CRUD functionality that uploads to a MongoDB database through Mongoose ODM</p>
                <p>another site created a multi-user chatroom using websocket, and an intuitive whiteboard feature with full profile creation and customization</p>
                <p>the last site is actually this one, meant to showcase my skills in front-end design and act as a hub for all of my current work</p>
                <p><strong class="text-success">tools used:</strong> Express, Node.js, MongoDB, Tailwind CSS, React, Flask, PostgreSQL, Astro</p>
                <div class="card-actions underline text-primary">
                    <a href="https://github.com/stars/ryanshz/lists/applications" target="_blank" rel="noopener noreferrer">current apps</a>
                </div>
            </div>
        </article>
        <article class="card lg:card-side bg-base-100 shadow-xl rounded-none flex-initial">
            <figure class="p-7 flex-none">
                <img
                    class="opacity-90 shadow-xl max-h-96"
                    src="/gridgladiators.webp"
                    alt="grid gladiators title screen"
                />
            </figure>
            <div class="space-y-3 mx-5 my-10 flex-1">
                <h2 class="font-bold text-xl">game devlopment</h2>
                <p>game dev side projects, where i focused on UI/UX, menu screens, and music</p>
                <p><strong class="text-success">tools used:</strong> GameMaker, FL Studio, Krita, GIMP</p>
                <div class="card-actions underline text-primary">
                    <a href="https://ryanshz.itch.io/" target="_blank" rel="noopener noreferrer">my itch.io page</a>
                </div>
            </div>
        </article>
        <article class="card lg:card-side bg-base-100 shadow-xl rounded-none flex-initial">
            <div class="space-y-3 mx-5 my-10 flex-1">
                <h2 class="font-bold text-xl">android app development</h2>
                <p>coming soon...</p>
                <p><strong class="text-success">tools used:</strong> Android Studio, Java</p>
            </div>
        </article>
    </section>
    <script is:inline>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides((slideIndex += n));
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides((slideIndex = n));
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slideshowImage");
            let dots = document.getElementsByClassName("slideshowDot");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(
                    " bg-neutral-600",
                    "",
                );
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " bg-neutral-600";
        }
    </script>
</Base>
