---
import Social from "./social.astro";
---

<header class="navbar bg-base-100 shadow font-mono">
    <section>
        <nav class="drawer z-40">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
            <section
                class="drawer-content flex flex-col items-start justify-center"
            >
                <label
                    for="my-drawer-2"
                    class="btn btn-ghost drawer-button md:hidden"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-5 h-5 stroke-current"
                        ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
            </section>
            <section class="drawer-side">
                <label
                    for="my-drawer-2"
                    aria-label="close sidebar"
                    class="drawer-overlay"></label>
                <ul class="menu bg-base-200 w-56 min-h-full rounded-box">
                    <li>
                        <h2 class="menu-title">navigation</h2>
                        <ul>
                            <li>
                                <a aria-label="home" href="/">home</a>
                            </li>
                            <li>
                                <a aria-label="about" href="/about/">about me</a
                                >
                            </li>
                            <li>
                                <a aria-label="projects" href="/projects-new/"
                                    >projects</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">social</h2>
                        <ul>
                            <ul>
                                <li>
                                    <Social
                                        platform="github"
                                        username="ryanshz"
                                        icon="fa fa-github"
                                    />
                                </li>
                                <li>
                                    <Social
                                        platform="linkedin"
                                        username="in/ryanshz"
                                        icon="fa fa-linkedin-square pb-1"
                                    />
                                </li>
                            </ul>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">&copy;ryanshz</h2>
                    </li>
                </ul>
            </section>
        </nav>
    </section>
    <section class="flex-1 pt-1">
        <a href="/" class="pl-4 py-1 text-2xl font-bold">
            <img
                id="logo-image"
                class="inline pb-1 pr-2"
                src="/logo/logo.webp"
                alt="ryanshz logo"
                width="75"
                height="75"
            />ryanshz
        </a>
    </section>
</header>
